[build]
builder = "NIXPACKS"
buildCommand = "cd backend && mvn clean package -DskipTests -U -B"

[deploy]
startCommand = "cd backend && java -XX:+UseContainerSupport -XX:MaxRAMPercentage=75.0 -Dserver.port=$PORT -Dspring.profiles.active=railway -jar target/hr-backend-1.0.0.jar"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
healthcheckPath = "/actuator/health"
healthcheckTimeout = 100
