[build]
builder = "NIXPACKS"
buildCommand = "cd backend && mvn clean package -DskipTests -U -B"
watchPatterns = ["/backend/**"]

[deploy]
startCommand = "cd backend && java -XX:+UseContainerSupport -XX:MaxRAMPercentage=75.0 -Dserver.port=$PORT -Dspring.profiles.active=railway -jar target/hr-backend-1.0.0.jar"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
healthcheckPath = "/"
healthcheckTimeout = 600

[env]
NIXPACKS_PKGS = "maven jdk17"
